DB_URL=jdbc:postgresql://ep-summer-field-amn2wvfd-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=replace_with_your_neon_password

ADMIN_BOOTSTRAP_ENABLED=true
ADMIN_BOOTSTRAP_FULL_NAME=Platform Admin
ADMIN_BOOTSTRAP_EMAIL=admin@fastlink.dev
ADMIN_BOOTSTRAP_PASSWORD=Admin123!  
