DB_URL=jdbc:postgresql://ep-blue-cell-amxmsbaz-pooler.c-5.us-east-1.aws.neon.tech/event_db?sslmode=require&channelBinding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=replace_with_secure_password
ENTITY_BASE_URL=http://localhost:8081
ENTITY_PERMISSION_CHECK_PATH=/api/v1/internal/entities/{entiteId}/permissions/check
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
EVENT_TOPIC_CREATED=fastlink.event.created.v1
