SERVER_PORT=8089

DB_URL=jdbc:postgresql://localhost:5432/admin_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET_BASE64=QjBqbW16RTV5Kzl2ejRmbWl6WDJ3Vnh3QlM0YmI4M2Q2a2pQd2dQWGNiOD0=
JWT_ISSUER=fast-link-identity
