DB_URL=jdbc:postgresql://ep-holy-dream-aniux2tl-pooler.c-6.us-east-1.aws.neon.tech/request_db?sslmode=require&channelBinding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=replace_with_secure_password
ENTITY_BASE_URL=http://localhost:8081
ENTITY_PERMISSION_CHECK_PATH=/api/v1/internal/entities/{entiteId}/permissions/check
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REQUEST_TOPIC_SUBMITTED=fastlink.request.submitted.v1
REQUEST_TOPIC_APPROVED=fastlink.request.approved.v1
REQUEST_TOPIC_REJECTED=fastlink.request.rejected.v1
