GATEWAY_PORT=8086

IDENTITY_SERVICE_URI=http://localhost:8080
ENTITY_SERVICE_URI=http://localhost:8081
PUBLICATION_SERVICE_URI=http://localhost:8082
EVENT_SERVICE_URI=http://localhost:8083
COMMUNITY_SERVICE_URI=http://localhost:8084
REQUEST_SERVICE_URI=http://localhost:8085
NOTIFICATION_SERVICE_URI=http://localhost:8087
ANALYTICS_SERVICE_URI=http://localhost:8088
ADMIN_SERVICE_URI=http://localhost:8089

COMMUNITY_WS_URI=ws://localhost:8084
NOTIFICATION_WS_URI=ws://localhost:8087

JWT_SECRET_BASE64=QjBqbW16RTV5Kzl2ejRmbWl6WDJ3Vnh3QlM0YmI4M2Q2a2pQd2dQWGNiOD0=
JWT_ISSUER=fast-link-identity

RATE_LIMIT_ENABLED=false
RATE_LIMIT_REQUESTS_PER_WINDOW=120
RATE_LIMIT_WINDOW_SECONDS=60
