DB_URL=jdbc:postgresql://ep-holy-dream-aniux2tl-pooler.c-6.us-east-1.aws.neon.tech/community_db?sslmode=require&channelBinding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=replace_with_secure_password
WEBSOCKET_ALLOWED_ORIGINS=*
